/* CSS declarations go here */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #F7F6F2;
    color: #4d4d4d;

}

.color-gainsboro {
    color: gainsboro;
}

.marginBottom {
    margin-bottom: 32px !important;
}

.marginTop {
    margin-top: 32px !important;
}